
$yellow:#FEC80B;
$white:#fff;
$black:#000000;
$grey:#F3F3F3;



@import "base";
@import "base";
@import "../main/main";
@import "../product/product";
@import "../price/price";
// @import "../slider/slider";
// @import "../about/about";
// @import "../chart/chart";
// @import "../category/category";
// @import "../manufacturing/manufacturing";
// @import "../delivery/delivery";
// @import "../applying/applying";
// @import "../faq/faq";
// @import "../contacts/contacts";
// @import "../articles/articles";
// @import "../article/article";
// @import "../standart/standart";
// @import "../contact-form/contact-form";
// @import "../catalog/catalog";
// @import "../product/product";
// @import "../order/order";


 @import "../footer/footer";
// @import "../responsive/responsive";