
$red:#e62532;

$shadow:3px 3px 8px rgba(0, 0, 0, 0.25);

$black:#102b3e;
$white:#fff;


@import "base";
@import "../header/header";
// @import "../slider/slider";
// @import "../about/about";
// @import "../chart/chart";
// @import "../category/category";
// @import "../manufacturing/manufacturing";
// @import "../delivery/delivery";
// @import "../applying/applying";
// @import "../faq/faq";
// @import "../contacts/contacts";
// @import "../articles/articles";
// @import "../article/article";
// @import "../standart/standart";
// @import "../contact-form/contact-form";
// @import "../catalog/catalog";
// @import "../product/product";
// @import "../order/order";


// @import "../footer/footer";
// @import "../responsive/responsive";