.price{
    background: url("../img/product_1.png") no-repeat;
    background-size: cover;
    font-size: 30px;
    border-radius: 0 0 50px 50px;
    color: $white;
    position: relative;
    text-transform: uppercase;
    padding: 50px 0;
    align-items: center;
    display: flex;
    margin-top: 40px;
    
    &-phone{
        color: $yellow;
        a{
            color: $yellow;
        }
    }

}