.main{
    background: url("../img/main_fon.png") no-repeat;
    background-size: cover;
    font-size: 28px;
    border-radius: 0 0 50px 50px;
  
    
    &-img{
        margin-right: auto;
        margin-left: auto;
    }
  

}