.product{


    &-phone{
        background: url("../img/product_tel.png") no-repeat;
        width: 574px;
        padding: 19px 0;
        
    }
    
    a{
        color: $black;
    }

    .product-block, .product-block-reverse {
        margin-top: 35px;
    }
    &-img{
        border-radius:  66px 0;
        &-reverse{
            border-radius: 0  66px;
        }
    }
    
    &-block{
        background:$grey;
        border-radius:  66px 0;
        &-text{
            margin-top: 26px;
            margin-left: 100px;
        }

        &-reverse{
            background:$grey;
            border-radius: 0 66px;
        }

    }
    
    &-size{
        margin-top: 10px;
    }
    
    &-price{
       margin-top: 20px;
    }

   
    
    
    
    
}